<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>print info</title>
</head>
<body>
    <table id="table" width="200" border="1" cellspacing="0" cellpadding="0" >
        <thead>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>operation</td>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
    <input type="text" id="addName" value="">
    <input type="button" id="add" value="add name">
</body>
<script type="text/javascript" src="./jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="./main.js"></script>
</script>
</html>
